body {
    padding: 3em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

textarea {
    resize: none;
}
.postreply {
   display: none; 
}
.active{
    background-color: orange;
}
.offlineText a{
    color: gray;
}
