<!DOCTYPE html>
<html lang='en'>
    <head> 
        <title>E-Chatroom</title>
        <link rel='stylesheet' href='/css/style.css'/>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
    </head>    
    <body>  
        <h3>E-Chatroom</h3>
        <div class="container">
            <div class="row">
                <div if(data.user)><h5><span id="userInfo" rel="${data.user.username}">${data.user.fullname}</span></h5></div>
                <div if(data.user)><span><a href="/logout"> Logout </a></span></div>
                <div class="row">
                    <div class="col-md-3"><!--well-->
                         <div class="input-group">
                            <input type="text" class="form-control" id="searchInput" placeholder="Search Friends..">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="searchBtn" >Go!</button>
                            </span>
                        </div>
                        <br/>
                        <div id="srcContactLists" class="postreply">
                        </div>
                        <div id="srcInputError">${data.error}</div>
                        <div id="participants">
                            <ul class="nav " for(contact in data.contactlists)>
                                <li id="${contact.username}" class="offlineText">
                                    <a href="#">${contact.fullname}</a>
                                </li>
                            </ul>
                        </div> 
                   </div>
                    <div class="col-md-6 postreply" id="chatWindow">
                        <div class="jumbotron">
                            <div id="participantName"></div>
                            <hr/>
                            <div id="messages"><span id="chatLog"></span></div>
                            <form id="messageForm" style='max-width: 300px;'>
                                <div class="form-group">
                                    <textarea class="form-control" rows="4" cols="50" placeholder="Message" maxlength=200 id="outgoingMessage"/>
                                </div>
                                <button class="btn btn-primary" type="button" id="send"> Share</button>
                            </form> 
                        </div>
                    </div>
                    <div class="col-md-6 postreply" id="addContactWindow">
                        <div class="jumbotron">
                            <div id="addContactName"></div>
                            &nbsp;
                            <form id="addContactForm" style='max-width: 300px;'>
                                <button class="btn btn-primary" type="button" id="add"> Add </button>
                                &nbsp;
                                <button class="btn btn-default" type="button" id="addCancel"> Cancel </button>
                            </form> 
                        </div>
                    </div>        
                </div>
            </div>    
        </div>
        <script src="/components/socket.io-client/socket.io.js"></script>
        <script language='JavaScript' type="text/javascript" src="/components/jquery/jquery.js"></script>
        <script language='JavaScript' type="text/javascript" src='/components/bootstrap/dist/js/bootstrap.min.js'></script>
        <script src="/js/socket.js"></script>
        <script src="/js/contact.js"></script>
    </body> 
</html>        


