<!DOCTYPE html>
<html lang='en'>
    <head> 
        <title>Login</title>
        <meta name='viewport'  content='width=device-width initial-scale=1.0'/>
        <link rel='stylesheet' href='/css/style.css'/>
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
       
    </head>    
    <body>
        <div if(!data.user)>
            <a href="/login">Login</a>
            <br/>
            <a href="register">Register</a>
        </div>
        <div else>
            <p> You are currently logged in as ${data.user.fullname} </p>
            <a href="/logout"> Logout </a>
        </div>
    
    	<script language='JavaScript' type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
        <script language='JavaScript' type="text/javascript" src='/components/bootstrap/dist/js/bootstrap.min.js'></script>
  	</body>
</html>