<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Login</title>
    <meta content='width=device-width initial-scale=1.0' name='viewport'>
    <!-- <link href='/css/test.css' rel='stylesheet'> -->
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="snippetContent" style="padding-top:10px;">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet">
        <div class="container bootstrap snippet">
            <div class="row">
                <div class="col-md-4 bg-white">
                    <div class=" row border-bottom padding-sm" 
                    style="height: 40px;">
                        Member
                    </div>
                    <ul class="friend-list">
                        <li class="active bounceInDown">
                            <a class="clearfix" href="#"><img alt="" 
                                class="img-circle" 
                                src="http://bootdey.com/img/Content/user_1.jpg">
                            <div class="friend-name">
                                <strong>John Doe</strong>
                            </div>
                            <div class="last-message text-muted">
                                Hello, Are you there?
                            </div><small class="time text-muted">Just
                            now</small> <small class="chat-alert label label-danger">1</small></a>
                        </li>
                        <li>
                            <a class="clearfix" href="#"><img alt="" class="img-circle" 
                                src="http://bootdey.com/img/Content/user_2.jpg">
                            <div class="friend-name">
                                <strong>Jane Doe</strong>
                            </div>
                            <div class="last-message text-muted">
                                Lorem ipsum dolor sit amet.
                            </div><small class="time text-muted">5 mins
                            ago</small> <small class="chat-alert text-muted"><i class="fa fa-check"></i></small></a>
                        </li>
                        <li>
                            <a class="clearfix" href="#"><img alt="" 
                                class="img-circle" src="http://bootdey.com/img/Content/user_3.jpg">
                            <div class="friend-name">
                                <strong>Kate</strong>
                            </div>
                            <div class="last-message text-muted">
                                Lorem ipsum dolor sit amet.
                            </div><small class="time text-muted">Yesterday</small> 
                            <small class="chat-alert text-muted">
                                <i class="fa fa-reply"></i></small></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 bg-white">
                    <div class="chat-message" style="height:500px;overflow:scroll;">
                        <ul class="chat">
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img alt="User Avatar" src="http://bootdey.com/img/Content/user_3.jpg"></span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">John
                                        Doe</strong> <small class="pull-right text-muted">
                                        <i class="fa fa-clock-o"></i> 12 mins
                                        ago</small>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit.</p>
                                </div>
                            </li>
                            <li class="right clearfix">
                                <span class="chat-img pull-right"><img alt="User Avatar" 
                                    src="http://bootdey.com/img/Content/user_1.jpg"></span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Sarah</strong>
                                        <small class="pull-right text-muted">
                                            <i class="fa fa-clock-o"></i> 13 mins
                                        ago</small>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales
                                    at.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-box bg-white">
                        <div class="input-group">
                            <input class="form-control border no-shadow no-rounded"
                            placeholder="Type your message here"> <span class="input-group-btn"><button 
                            class="btn btn-success no-rounded" type="button">
                            <span class="input-group-btn">Send</span></button></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>